.App {
  text-align: center;
  background-image: url(../public/img/Weather-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform:capitalize;
}
.App > div {
  width: 700px;
}

.WeatherBox{
  height: 250px;
  border: 2px solid #fff;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.locationBtn{
  /* width: 500px; */
  height: 80px;
  background-color: #000;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.locationBtn button {
  border: 1px solid yellow;
  color: #000;
}

.locationBtn button .active {
  background-color: #000;
}